*{
    font-family: 'Poppins', sans-serif;
}

.carousel-item{
    height: 100vh;
    min-height: 300px;
}

.carousel-caption{
    bottom: 220px;
    z-index: 2;
    margin-bottom: 150px;
}

.carousel-caption p{
    width: 70%;
    margin: auto;
    font-size: 30px;
    line-height: 2;
}

.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.cartes{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.lieu{
    background: rgb(126, 196, 126);
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 5px 20px;
    color: #fff;
    border-radius: 10px;
    font-size: 25px;
}